<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <style> 
    div{
        display: flex;
    }
    input{
        border-radius: 5px;
        background-color: rgb(184, 217, 250);
        text-align: center;
        font-size: 80%;
        box-sizing: border-box;
        position: relative;
        left: 40%;
    }
    button{
        position: relative;
        top: 50px;
        left: 25%;
    }
    p {
        text-align: center;
        position: relative;
        top: 100px;
        left: 10%;
    }
    </style>
    <div id="fecha">
        <input  class="caja1" type="number" placeholder="Día" min="1" v-model="day">
        <input class="caja2" type="number" placeholder="Mes" min="1" max="12" v-model="month"> 
        <input class="caja3" type="number" placeholder="Año" min="1920" max="2050" v-model="year">
        <button  @click="boton">Guardar</button>
        <p>
         {{mensaje}}</p>
    </div>
    <script src="nacimiento.js"></script>
</body>
</html>